.section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
}

.section-button {
    justify-content: center;
}

.sucess {
    color: green;
    font-weight: bold;
    font-size: 130%;
}

.article-tests {
    padding: 10px;
    margin: 10px;
    width: 20%;
    border: 1px black solid;
}

.btn_result, .txt_result {
    padding: 5px;
}

.res {
    margin-left: 15px;
}